body{
    background-color: rgb(163, 64, 255);
    }
h1{
    text-align: center;   
   }
div{
   text-align: center;
    }
a{
    color: black;
 }
a#con{
    
    margin-left: 40px;
}
footer{
    text-align: center;
    
}